$primaryBlack: #000000;
$secondaryBlack: #0a0c0e;
$lightBlack: #2c2c2c;
$inputBoxBlack: #202327;
$buttonBlue: #bb86fc;
$buttonWhite: #e4ebe6;
$primaryWhite: #ffffff;
$boxborder: 1px solid #181111;
$thickBorder: 3px solid #201b1b;
$offWhite: rgb(207, 207, 207);
$saturatedWhite: rgb(180, 180, 180);
$darkShadow: 0 -2px 10px rgba(0, 0, 0, 0.4);

.darkTheme {
  background-color: $primaryBlack;
  .topbarContainer {
    background-color: $secondaryBlack;
    border-bottom: $boxborder;
    .searchbar {
      background-color: $inputBoxBlack;
      .MuiSvgIcon-root,
      label,
      input {
        color: $offWhite;
      }
    }
    .menuIcon {
      .MuiButtonBase-root {
        background-color: transparent !important;
      }
    }
  }
  .sidebar {
    background-color: $secondaryBlack;
    border-right: $boxborder;
    .sidebarList {
      .sidebarListItem {
        color: $primaryWhite;
      }
    }
    .sidebarHr {
      background-color: $primaryWhite;
    }
    .sidebarFriendList {
      .sidebarFriend {
        color: $primaryWhite;
      }
    }
  }
  .share {
    background-color: $secondaryBlack;
    box-shadow: $darkShadow;
    border: $boxborder;
    .shareInput {
      background-color: transparent;
      color: $offWhite;
    }
    .shareOptions {
      color: $offWhite;
    }
    .shareHr {
      background-color: $primaryWhite;
    }
    .shareButton {
      background-color: $buttonBlue;
      color: $primaryWhite;
    }
  }
  .post {
    background-color: $secondaryBlack;
    box-shadow: $darkShadow;
    color: $offWhite;
    border: $boxborder;
  }
  .rightbar {
    background-color: $secondaryBlack;
    border-right: $boxborder;
    margin-top: 20px;
    .rightbarWrapper {
      color: $offWhite;
      .rightbarTitle {
        color: $offWhite;
      }
      .rightbarInfo {
        color: $offWhite;
      }
      .rightbarInfoKey {
        color: $saturatedWhite;
      }
      .rightbarFollowings {
        .rightbarFollowingName {
          color: $offWhite;
        }
      }
      .profileInfoName {
        color: $offWhite;
      }
    }
  }
  .profileUserImg {
    border: $thickBorder;
  }
  .editCoverImage {
    background-color: $buttonWhite;
  }
  .messenger {
    height: calc(100vh - 50px);
    .sectionTitle {
      color: $offWhite;
    }
    .chatMenuWrapper,
    .chatOnline {
      background-color: $secondaryBlack;
    }
    .chatMenuWrapper {
      border-right: $boxborder;
    }
    .chatOnline {
      border-left: $boxborder;
    }
    .chatMenuInput {
      background-color: transparent;
      border-bottom: $boxborder;
      color: $offWhite;
    }
    .conversation {
      color: $offWhite;
      &:hover {
        background-color: $lightBlack;
      }
    }
    .chatOnline {
      color: $offWhite;
    }
    .chatMessageInput {
      background-color: $inputBoxBlack;
      color: $offWhite;
      border: none;
    }
    .messageText {
      background-color: $buttonBlue;
      color: $primaryWhite;
    }
    .message.own .messageText {
      background-color: $buttonWhite;
      color: $primaryBlack;
    }
    .messageBottom {
      color: $offWhite;
    }
    .chatBoxHeader {
      .MuiButtonBase-root {
        background-color: transparent !important;
        .MuiSvgIcon-root {
          color: $offWhite !important;
        }
      }
    }
    .chatSubmitBtn {
      background-color: $buttonBlue;
    }
  }
  .login {
    background-color: $secondaryBlack;
    .loginDesc {
      color: $offWhite;
    }
    .loginBox {
      background-color: $inputBoxBlack;
      input {
        background-color: transparent;
        border-color: $lightBlack;
      }
      .loginRegisterButton {
        background-color: $buttonBlue;
        color: $primaryWhite;
      }
      .loginButton {
        background-color: $buttonWhite;
        color: $primaryBlack;
      }
    }
  }
  .ant-switch {
    background-color: $lightBlack;
  }
  .ant-switch-checked {
    background-color: $buttonBlue;
  }
  .MuiButtonBase-root {
    background-color: $buttonBlue !important;
  }
  .ant-dropdown-menu {
    background-color: $secondaryBlack;
    .ant-dropdown-menu-item {
      color: $offWhite;
      border: $boxborder;
      &:hover {
        background-color: $lightBlack;
      }
    }
  }
  .modal-content {
    background-color: $secondaryBlack;
    border: $boxborder;
    box-shadow: $darkShadow;
    color: $offWhite;
    input {
      background-color: $inputBoxBlack;
      color: $offWhite;
      border: none;
      &:hover,
      &:focus,
      &:focus-visible {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    .modal-body {
      button {
        &.btn-primary {
          background-color: $buttonBlue;
          border-color: $buttonBlue;
        }
        &.btn-secondary {
          border-color: $primaryWhite;
          background-color: $buttonWhite;
          color: $primaryBlack;
        }
      }
    }
  }
  .ant-drawer-content {
    background-color: $secondaryBlack;
    border-left: $boxborder;
    .ant-drawer-header {
      background-color: $secondaryBlack;
      .ant-drawer-close {
        .anticon {
          color: $offWhite;
        }
      }
    }
    .ant-drawer-body {
      .profileUsername {
        color: $offWhite;
      }
      .ant-divider-horizontal {
        border-color: $lightBlack;
      }
      .profileLink {
        color: $offWhite;
      }
      .rightbarFriend {
        color: $offWhite;
      }
    }
  }
  .searchSuggestions {
    color: $offWhite;
    border-color: $lightBlack;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: $secondaryBlack;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $lightBlack;
  }
}
