.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  /* display: flex; */
}

/* .loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #0a053a;
  margin-bottom: 10px;
}

@media only screen and (max-width: 430px) {
  .loginLogo {
    font-size: 12vw;
  }
}

.loginDesc {
  font-size: 16px;
}

.loginBox {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginBox ::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(161, 161, 161);
}

.loginBox :-ms-input-placeholder {
  font-size: 16px;
  color: rgb(161, 161, 161);
}

.loginBox ::placeholder {
  font-size: 16px;
  color: rgb(161, 161, 161);
}

.loginInput {
  border: none !important;
  border-bottom: 1px solid rgb(233, 233, 233) !important;
  font-size: 14px !important;
  padding-left: 12px !important;
  padding-bottom: 8px !important;
  color: rgb(95, 95, 95) !important;
  margin-bottom: 16px !important;
  font-weight: 500 !important;
}

.loginInput::placeholder {
  font-size: 14px;
  color: rgb(161, 161, 161);
  font-weight: 400 !important;
}

.loginInput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.loginButton {
  padding: 8px 0;
  border-radius: 10px;
  border: none;
  background-color: #0a053a;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
}

.loginRegisterButton {
  width: 100%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  cursor: pointer;
  margin-top: 8px;
}
