@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './assets/styles/darkTheme';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.ant-message {
  .anticon {
    top: 0;
    vertical-align: 0;
  }
}

.ant-switch-checked {
  background-color: #0c0c0c;
}

.MuiFab-primary {
  background-color: #0c0c0c !important;
}

.modal-content {
  .form-control {
    font-size: 13px;
    &::-webkit-input-placeholder {
      font-size: 12px;
    }

    &:-ms-input-placeholder {
      font-size: 12px;
    }

    &::placeholder {
      font-size: 12px;
    }
    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
      border: 1px solid #ced4da;
    }
  }
  .modal-body {
    label {
      font-size: 13px;
      font-weight: 500;
    }
    button {
      margin-top: 18px;
      font-size: 13px;
      font-weight: 600;
      &.btn-primary {
        background-color: #0c0c0c;
        border-color: #0c0c0c;
      }
    }
  }
}

.rpn-notification-card-bottom {
  .message {
    margin: 0;
    word-break: break-all;
  }
}
