@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import './assets/styles/darkTheme';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  color: #1a1a1a;
}

.ant-message {
  .anticon {
    top: 0;
    vertical-align: 0;
  }
}

.ant-switch-checked {
  background-color: #0a053a;
}

.MuiFab-primary {
  background-color: #0a053a !important;
}

.modal-content {
  .form-control {
    font-size: 13px;
    &::-webkit-input-placeholder {
      font-size: 12px;
    }

    &:-ms-input-placeholder {
      font-size: 12px;
    }

    &::placeholder {
      font-size: 12px;
    }
    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
      border: 1px solid #ced4da;
    }
  }
  .modal-body {
    label {
      font-size: 13px;
      font-weight: 500;
    }
    button {
      margin-top: 18px;
      font-size: 13px;
      font-weight: 600;
      &.btn-primary {
        background-color: #0a053a;
        border-color: #0a053a;
      }
    }
  }
}

.rpn-notification-card-bottom {
  .message {
    margin: 0;
    word-break: break-all;
  }
}

.ant-radio-group {
  margin-bottom: 16px;
  margin-left: 6px;
  .ant-radio-wrapper {
    width: 40%;
  }
  .ant-radio-checked .ant-radio-inner,
  .ant-radio-checked::after {
    border: 1px solid #0a053a;
  }
  .ant-radio-checked .ant-radio-inner::after {
    background-color: #0a053a;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 3px rgb(0 0 0 / 12%);
  }
}

.cta-btn {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  background-color: #0a053a !important;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 24px;
  color: #ffffff;
  border-color: #0a053a;
  &:hover {
    background-color: #535075 !important;
    border-color: #535075 !important;
    color: #ffffff !important;
  }
  &:disabled {
    border-color: #535075 !important;
  }
}
.cta-btn-small {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  background-color: #0a053a !important;
  font-weight: 600;
  font-size: 13px;
  padding: 8px 16px;
  color: #ffffff;
  border-color: #0a053a;
  &:hover {
    background-color: #535075 !important;
    border-color: #535075 !important;
    color: #ffffff !important;
  }
  &:disabled {
    border-color: #535075 !important;
  }
}
