.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #120a5c;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
  padding: 0 12px;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  margin-right: 12px;
  align-items: center;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.searchbar .MuiAutocomplete-root {
  width: 100%;
  padding-left: 8px;
}

.searchbar .MuiAutocomplete-root .MuiFormControl-root label {
  font-size: 12px;
}

.searchbar .MuiAutocomplete-root .MuiInput-underline:before,
.searchbar .MuiAutocomplete-root .MuiInput-underline:after {
  border-bottom: none;
}

.searchbar
  .MuiAutocomplete-root
  .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.searchbar .MuiAutocomplete-root .MuiInput-underline.Mui-focused:after {
  transform: none;
}

.searchbar .MuiAutocomplete-root label + .MuiInput-formControl {
  margin-top: 0;
}

.searchbar
  .MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-input {
  font-size: 13px;
  padding-top: 0;
}

.searchbar .MuiAutocomplete-root .MuiInputLabel-formControl {
  top: -20px;
}

.searchbar .MuiInputLabel-shrink {
  top: -6px !important;
}

.searchbar .MuiAutocomplete-root .MuiAutocomplete-endAdornment {
  top: calc(50% - 16px);
  right: 8px;
}

.searchbar
  .MuiAutocomplete-root
  .MuiAutocomplete-endAdornment
  .MuiAutocomplete-clearIndicator
  .MuiSvgIcon-root {
  font-size: 16px;
}

.searchSuggestions {
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 8px;
  width: 100%;
}

.searchSuggestions .profilePicture img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.searchSuggestions .searchContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.searchSuggestions .email {
  font-size: 9px;
}

.searchSuggestions .username {
  font-size: 13px;
}

.helloUserText {
  font-weight: 500;
  padding-right: 8px;
}

.menuIcon {
  display: none;
  padding-left: 28px;
  padding-right: 8px;
}

@media only screen and (max-width: 782px) {
  .topbarRight {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}

@media only screen and (max-width: 530px) {
  .topbarLeft {
    display: none;
  }
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileUsername {
  font-size: 15px;
  margin-bottom: 0;
}

.profileLinks {
  display: flex;
  flex-direction: column;
}

.profileContent a {
  font-size: 13px;
}

.profileLinks .profileLink {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 13px;
}

.profileLinks .profileLink .MuiSvgIcon-root {
  color: #1890ff;
  font-size: 36px;
  padding-right: 12px;
}

.profileLinks .profileLink button {
  margin-right: 12px;
}

.topbarIconItem .ant-switch-small:focus,
.topbarIconItem .ant-switch-small:focus-visible,
.topbarIconItem .ant-switch-small:hover {
  outline: none;
  box-shadow: none;
}

.messageNotifBox {
  width: 250px;
  background-color: #fff;
  padding: 18px 12px;
}

.messageNotifBox .ant-empty {
  margin: auto;
}

.messageNotifBox .ant-empty-img-default {
  width: 90px;
}

.messageNotifBox .ant-empty-description {
  font-size: 13px;
  margin-top: -8px;
  font-weight: 500;
}

.messageNotifBox .username {
  font-weight: 600;
  word-break: break-all;
}
