.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.messenger .sectionTitle {
  font-size: 18px;
  color: rgb(56, 56, 56);
  margin: 8px 0 16px;
  font-weight: 600;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}

.messengerMobile .chatMenuInput {
  width: 100%;
}

.chatMenuInput:focus,
.chatMenuInput:hover {
  outline: none;
}

.chatBox {
  flex: 5.5;
}

@media only screen and (max-width: 782px) {
  .chatBox {
    display: none;
  }
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: lightgray;
}

.chatMessageInput:focus,
.chatMessageInput:hover {
  outline: none;
}

.chatMessageInput::-webkit-input-placeholder {
  font-size: 13px;
  color: rgb(161, 161, 161);
}

.chatMessageInput:-ms-input-placeholder {
  font-size: 13px;
  color: rgb(161, 161, 161);
}

.chatMessageInput::placeholder {
  font-size: 13px;
  color: rgb(161, 161, 161);
}

.chatSubmitBtn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #120a5c;
  color: #fff;
  padding: 8px 16px;
  margin: 0 10px;
}

.chatOnline {
  flex: 3;
}

@media only screen and (max-width: 782px) {
  .chatOnline,
  .chatMenu {
    display: none;
  }
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
  position: relative;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 40px;
  color: rgb(224, 224, 224);
}

.noChatText {
  position: absolute;
  font-size: 28px;
  color: rgb(224, 224, 224);
  top: 10%;
  left: 18px;
  margin-top: 16px;
}

.chatBoxHeader {
  margin: -8px 8px 0px -8px;
}

.chatBoxMobile,
.chatMenuMobile {
  display: block;
}
