.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 200px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 140px;
  object-fit: cover;
  background: #626262;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  top: 0;
  position: relative;
  display: flex;
  border: 3px solid white;
}

.profileUserImgContainer {
  position: relative;
  margin-top: -90px;
}

.editProfileImage {
  background-color: #e4e6eb;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-left: 48px;
  cursor: pointer;
}

.editCoverImage {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #e4ebe6;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: black;
  margin-bottom: 6px;
  position: absolute;
  right: 2%;
  bottom: 24%;
  z-index: 3;
}

@media only screen and (max-width: 510px) {
  .editCoverImage {
    margin-right: 0;
  }
}

.profileInfoName {
  font-size: 16px;
  margin-bottom: 8px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
  overflow: hidden;
}
